:root{
  --dark-background-color: #122c73
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  color: white;
  letter-spacing: 1px;
  display: block;
}

header {
  background-color: #d4e0ff;
  color: var(--dark-background-color);
}

.headertitle {
  font-size: 8rem;
  flex: 1;
  margin: 0;
}

.Logohead {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  padding: 4px 0px 4px 4px;
}


nav {
  background-color: var(--dark-background-color);
  height: 50px;
  width: 100%;
  padding: 5px 0 5px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap:30px;
  align-items: center;
  justify-content: center;
}
nav a {
  background: white;
  color: var(--dark-background-color);
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}
.Navigator li:hover {
  background: #d4e0ff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.homepage .footer {
  text-align: center;
}
.homepage {
  background-color: #718bd2;
  min-height: 110vh;
  text-align: left;
  padding: 20px;
  flex: 1;
  width: fit-content;
}

.homepage, .container {
  padding: 0;
  margin: 0;
}

.homepage div{
  margin-bottom: 20px;
  display: initial;
  flex: 1;
}


.homepage p {
  margin-left: 30px;
  line-height: 30px;
  font-size: 18px;
}

.homepage button {
  margin: 10px 30px 
}

.homepage h1 {
  border: var(--dark-background-color) .5px solid;
  border-radius: 4px;
  margin-right: 480px;
  background-color: #d4e0ff;
  color: var(--dark-background-color);
  padding-left: 5px;
  display: inline-block;
}


.homepage .emailhead {
  border: none;
  background-color: #718bd2;
  color: white;
  font-size: 35px;
}



.selector {
  display: flex;
  text-transform: capitalize;
}

.choose-movie {
  display: flex;
}

.selection-div {
  border: 1px solid blue;
}