:root{
  --dark-background-color: #122c73
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  color: white;
  letter-spacing: 1px;
  display: block;
}

header {
  background-color: #d4e0ff;
  color: var(--dark-background-color);
}

.headertitle {
  font-size: 8rem;
  flex: 1;
  margin: 0 140px 0 0;
}

.Logohead {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  padding: 4px 0px 4px 4px;
}

nav {
  background-color: var(--dark-background-color);
  width: 100%;
  padding: 5px 0 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap:30px;
  justify-content: center;
}

nav a {
  background: white;
  color: var(--dark-background-color);
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

nav a:hover {
  background: #d4e0ff;
  color: var(--dark-background-color);
  border: white solid 1px;
}


.homepage {
  background-color: #718bd2;
  text-align: left;
}

.homepage div{
  padding: 10px;
}

.homepage p {
  margin-left: 30px;
  line-height: 30px;
  font-size: 18px;
}

button {
  margin: 10px 10px 10px 10px;
}

button:hover{
  background-color: var(--dark-background-color);
  color: white;
}

.homepage h1 {
  border: var(--dark-background-color) .5px solid;
  border-radius: 4px;
  background-color: #d4e0ff;
  color: var(--dark-background-color);
  padding-left: 5px;
  display: inline-block;
}

.homepage .emailhead {
  border: none;
  background: none;
  display: block;
  color: white;
  font-size: 35px;
  text-align: center;
}
.emailinfo {
  text-align: center;
}

.homepage .inputinfo {
  height: 35px;
  width: 300px;
  border-radius: 4px;
}

::placeholder{
  color: black;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 1.5px;
}

input{
  color: black;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 1.5px;
}

.selector {
  display: flex;
  text-transform: capitalize;
}

.choose-movie {
  display: flex;
}

.selection-div {
  border: 1px solid blue;
}